[Unit]
Description=Kronos API
After=network.target
Wants=redis.service

[Service]
Type=simple
ExecStart=node server.js
WorkingDirectory=<path/to/repository>

User=kronos_nodejs
Group=kronos_nodejs

EnvironmentFile=<path/to/repository/.env>

Restart=always
RestartSec=500ms

[Install]
WantedBy=multi-user.target
